.footer-back-color{
    position: fixed;
    bottom: 0;
    left: 15px;
    right: 15px;
}

.panel-default > .panel-heading{
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: #274289;
}

.panel-default{
    border-radius: 0
}

.btn{
    font-size: 1.3em;
    padding: 10px 0;
    border-radius: 0;
}

.btn-link{
    font-size: 1.1em;
}

@media screen and (max-width: 995px){
    .container.margin-top-minus-50{
        margin-top: -30px;
    }

    .row.margin-top-minus-50{
        margin-top: -20px;
    }

    .panel.margin-top-30 {
        margin-top: 50px;
    }
}
