html,body{
    height: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

.padding-20{
    padding: 20px;
}

.padding-top-100{
    padding-top: 100px;
}

.padding-top-60{
    padding-top: 60px;
}

.padding-top-4{
    padding-top: 4px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-bottom-60{
    padding-bottom: 60px;
}

.padding-bottom-100{
    padding-bottom: 100px;
}

.padding-bottom-200{
    padding-bottom: 200px;
}

.padding-bottom-250{
    padding-bottom: 250px;
}

.padding-top-bottom-10{
    padding: 10px 0px;
}

.padding-top-bottom-13{
    padding: 13px 0px;
}

.padding-top-bottom-20{
    padding: 20px 0px;
}

.padding-top-bottom-30px{
    padding: 30px 0px;
}

.padding-top-bottom-50px{
    padding: 50px 0px;
}

.padding-top-bottom-60{
    padding: 60px 0px;
}

.padding-top-bottom-70{
    padding: 70px 0px;
}

.padding-top-bottom-80{
    padding: 80px 0px;
}

.padding-top-bottom-100px{
    padding: 100px 0px;
}

.padding-none{
    padding: 0 !important;
}

.padding-left-9{
    padding-left: 9px;
}

.padding-left-right-50{
    padding: 0 50px;
}

.padding-left-right-85{
    padding: 0 85px;
}

.padding-left-5px{
    padding-left: 5px;
}

.padding-right-100{
    padding-right: 100px;
}

.padding-right-50{
    padding-right: 50px;
}

.padding-right-30{
    padding-right: 30px;
}

.no-padding-left{
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-80{
    margin-top: 80px;
}

.margin-top-60{
    margin-top: 60px;
}

.margin-top-35{
    margin-top: 35px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-minus-15{
    margin-top: -15px;
}

.margin-top-minus-50{
    margin-top: -50px;
}

.margin-bottom-minus-50{
    margin-bottom: -50px;
}

.margin-bottom-none{
    margin-bottom: 0;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-45{
    margin-bottom: 45px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-bottom-100px{
    margin-bottom: 100px;
}

.margin-left-20{
    margin-left: 20px;
}

.margin-left-minus-30{
    margin-left: -30px;
}

.margin-right-minus-30{
    margin-right: -30px;
}

.margin-none{
    margin: 0 !important;
}

.width-100-percent{
    width: 100%;
}

.width-80-percent{
    width: 80%;
}

.width-62-percent{
    width: 62%;
}

.width-50-percent{
    width: 50%;
}

.width-40-percent{
    width: 40%;
}

.height-100-percent{
    height: 100%;
}

.display-inline{
    display: inline;
}

button{
    border: none;
}

input[type=text], input[type=email], input[type=password], textarea{
    border-radius: 0;
}

.height-100per{
    height: 100%;
}
.no-border-radius{
    border-radius: 0px;
}
.height-46px{
    height: 46px !important;
}

.gray-background{
    background-color: #dcdee0;
}

.lighter-than-dark-blue{
    color: #2a448b !important;
}

.no-bottom-border{
    border-bottom: none !important;
}

.no-border{
    border: none;
}

.cyan{
    color: #46bcfb;
}

.display-table{
    display: table;
}

.display-table-row{
    display: table-row;
}

.display-table-cell{
    display: table-cell;
}

.vertical-align-bottom{
    vertical-align: bottom;
}

.vertical-align-middle{
    vertical-align: middle;
}

.font-size-17px{
    font-size: 17px;
}

.font-size-15px{
    font-size: 15px;
}

.font-size-13px{
    font-size: 13px;
}

.font-size-1_8em{
    font-size: 1.8em;
}

.font-size-1_6em{
    font-size: 1.6em;
}

.font-size-1_4em{
    font-size: 1.4em;
}

.font-size-1_3em{
    font-size: 1.3em;
}

.font-size-1_2em{
    font-size: 1.2em;
}

.font-weight-600-imp{
    font-weight: 600 !important;
}

.dark-blue{
    color: #111f47;
}

.position-relative{
    position: relative;
}

.color-green{
    color: #00EE00;
}

.color-red{
    color: #EE0000;
}
