body{
    color: #274289;
}

p{
    font-size: 1.3em;
}

.background-white{
    background-color: white;
}

.navbar-brand{
    padding-top: 15px;
    font-family: "Josefin Slab";
    line-height: 25px;
}

.navbar-brand a{
    font-weight: 600 !important;
}

.navbar-toggle{
    padding: 0;
}

#top-bar, .navbar-brand{
    font-size: 22px;
    color: #939dc0 !important;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}

#top-bar a{
    text-decoration: none;
    color: #324a8f;
    font-weight: 300;
}

#top-bar a:hover, #top-bar a:active{
    text-decoration: none;
    font-weight: 600;
    background: none;
}

#top-bar a:focus{
    background: none;
}

.top-bar-option{
    padding: 0 10px;
}

.search-keywords div h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0;
}

button#find-leads-short-message{
    font-size: 1.4em;
    color: white;
    background: #274289;
    border-radius: 0;
    min-height: 60px;
    margin-left: -26px;
}

.features div h1{
    margin-top: 0;
    margin-bottom: 20px;
}

.how-it-works{
    background-color: #111f48;
    color: white;
}

.how-it-works h1{
    margin: 0px 0px 60px 35px;
}

.how-it-works div .bold p{
    margin-top: -22px;
}

.custom-box img{
    width: 100%;
    height: 100%;
}

.custom-box{
    background-color: white;
    height: 160px;
    width: 270px;
    margin: 0 auto;
}

.custom-circle{
    font-size: 2.5em;
    border: 1px solid #46b9f8;
    border-radius: 100%;
    display: inline;
    padding: 15px 26px;
    font-weight: bold;
    background-color: #46b9f8;
    position: relative;
    right: 137px;
    top: -24px;
}

.technology div div h1{
    margin-bottom: 25px;
}

.bold{
    font-weight: bold;
}

.font-size-1dot5em{
  font-size: 1.5em;
}

.font-color-white{
    color: #ffffff;
}

.footer-back-color{
    background-color: #172b5d;
    min-height: 50px;
}

.contact-button{
    background-color: #29448b;
    color: white;
    font-size: 1.4em;
    font-weight: 800;
    margin-left: 10px;
    margin-right: -100px;
    padding: 20px 60px;
}

.contact-wrapper{
    padding: 0 50px;
}

/*********************************/
.textarea-container {
    position: relative;
    /*width: 50%;*/
}

textarea, .textarea-size {
    min-height: 25px;
    font-family: sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid;
    overflow: hidden;
    width: 80%;
}

textarea {
    height: 100%;
    position: absolute;
    resize:none;
    white-space: normal;
    font-size: 18px;
    line-height: 1.3333333;
    padding: 10px 16px !important;
}

.textarea-size {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.width-100-percent{
    width: 100% !important;
}

.select2-selection__rendered{
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.padding-top-bottom-10px{
    padding: 10px 0px;
}

.scify-copyright-outer{
    color: white;
    font-weight: 700;
    font-size: 0.9em;
}

.terms-and-privacy-div{
    color: white;
    padding-right: 0;
}

.footer > .terms-and-privacy-div > div > a{
    color: white;
}

.custom-material-icon{
    font-size: 40px;
    margin: 0 20px 0 -80px;
}

/* contact us modal css */
.contact-modal-footer{
    padding: 10px;
}

.contact-modal-content{
    padding: 10px 20px 20px;
}

.contact-modal-body{
    padding: 10px;
}

#contact-modal{
    color: #53585f;
    font-size: 1.5em;
}

.contact-modal-text{
    font-weight: 300;
}

.contact-modal-footer .text-link a{
    color: #53585f;
    font-size: 19px;
    font-weight: 300;
    vertical-align: top;
}

.contact-placeholder::-webkit-input-placeholder {
    font-style: italic;
}

.contact-placeholder:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

.contact-placeholder::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
}

.contact-placeholder:-ms-input-placeholder {
    font-style: italic;
}

.email-validity{
    font-size: 15px;
}
/* end of contact us modal css */

textarea{
    white-space: pre-wrap;
}

select[name='country']{
    background: transparent;
    border: none;
}

/*************************************************/
@media screen and (max-width: 957px){
    .text-center {
	    clear: both;
	    margin: 0 auto;
	    width: 100%;
    }

    .text-center .bold > p {
	    margin-bottom: 80px;
    }

    .padding-left-right-85{
        padding: 0 50px;
    }

    .contact-wrapper{
        padding: 20px 0px 0px 0px;
    }
    /*#find-leads-short-message{*/
        /*display: none;*/
    /*}*/
}

@media screen and (max-width: 990px){
    .terms-and-privacy-div{
        text-align: left !important;
        padding-left: 0;
    }

    button#find-leads-short-message{
        margin-left: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px){
    .display-table, .display-table-row, .display-table-cell {
        display: block;
        text-align: center;
    }

    .custom-material-icon{
        margin-left: 0;
    }
}

@media screen and (max-width: 767px){
    .contact-button{
        margin-left: 0;
    }

    #top-bar-collapse{
        margin-bottom: 50px;
    }

    h1{
        font-size: 20px !important;
    }

    p{
        font-size: 14px !important;
    }

    .search-keywords div h1{
        margin-top: 30px;
    }
}
