html,body{
    height: 100%;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}
.height-100per{
    height: 100%;
}

/*.container{*/
    /*position: relative;*/
    /*top: 30%;*/
    /*transform: translateY(-50%);*/
/*}*/
.footer-style{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.margin-top-30{
    margin-top: 30px;
}

.text-center {
    text-align: center;
}