.search-keywords, .search-results{
    color: #6f737a;
    padding: 0 30px;
}

.search-name-style{
    color: #101f48;
    font-weight: 700;
    text-decoration: none !important;
}

a.search-name-style:hover, a.search-name-style:focus{
    color: #111f47;
}

.search-border{
    border: 25px solid #dcdee0;
    background-color: white;
    /*padding: 0px 20px;*/
}

.search-box{
    margin: 25px;
    box-shadow: -1px 3px 5px #888888;
    background-color: white;
}

.enumerate-search{
    color: #111f47;
    font-weight: 400;
    font-size: 22px;
}

.enumerate-dot{
    color: #111f47;
    font-weight: 400;
    font-size: 22px;
}

.link-for-action{
    color: #afb2b0;
    font-size: 11px;
    padding-top: 11px;
    vertical-align: middle;
    font-weight: normal;
}

.link-for-action:hover{
    color: #535d7a;
}

input.new-value{
    background: transparent;
    border: none;
    border-bottom: 1px solid #3f4b6b;
    border-radius: 0;
    width: 94%;
    padding-right: 120px;
}

.done-btn, .cancel-btn{
    background: transparent;
    font-size: 13px;
    font-weight: normal;
}

.done-btn{
    margin-left: -120px;
}

.cancel-btn{
    margin-left: -12px;
}

.no-border{
    border: none;
}

.edit-border{
    border: 1px solid rgba(9, 9, 9, 0.29);
    background-color: rgba(0, 0, 0, 0.16);
}
.float-right{
    float: right;
}

.submit-button{
    background-color: #46bcfb;
    font-weight: 600;
    border: 1px solid #46bcfb;
    padding: 5px 10px;

}
.padding-left-5px{
    padding-left: 5px;
}

.display-search-div{
    padding: 10px 30px;
}

.display-search-div > .search-name-style{
    margin-top: 0;
}

.list-search-div{
    padding: 20px 15px 7px;
    background-color: white;
}

.keywords-list{
    font-size: 2em;
    font-weight: 300;
}

.search-border.row{
    margin: 0;
    padding: 0;
}

.search-border .col-md-2, .search-border .col-md-10{
    margin: 0;
    padding: 0;
}

.border-right-gray{
    border-right: 1px solid #e2e4e5;
}

.search-results-counter{
    font-size: 50px;
    margin-bottom: -8px;
    font-weight: 700;
    color: #111f47;
    margin-top: -8px;
}

.counter-info{
    color: #6d7277;
    margin-bottom: 0;
}

.padding-right-250px{
    padding-right: 250px;
}

.margin-top-60px-bottom-10px {
    margin-top: 60px;
    margin-bottom: 10px;
}

.margin-bottom-20px{
    margin-bottom: 20px;
}

.progress-bar-border{
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.check-icon{
    color: rgb(12, 182, 12);
    font-size: 18px;
}

.height-2dot5em{
    height: 2.5em;
    line-height: 2.5em;
}

.results{
    border: 1px solid #337ab7;
    padding: 0px 10px;
    text-decoration: none !important;
    font-weight: bold;
}

.progress-bar-style{
    height: 5px;
    width: 70%;
    margin: 10px auto;
}

.custom-bar-text{
    font-size: 16px;
    line-height: inherit;
}

.font-size-20px{
    font-size: 20px;
}

.keywords-font{
    font-size: 18px;
    color: #46bcfb;
}

.text-align-center{
    text-align: center;
}

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.margin-top-30px{
    margin-top: 30px;
}

.pointer{
    cursor: pointer;
}

.font-size-25px{
    font-size: 25px;
}

.float-left{
    float: left;
}

.show-input{
    display: inline!important;
}

.created-on{
    color: #70747a;
    padding-left: 20px;
}

.close-single-search{
    color: #101f48;
    margin-bottom: -20px;
    margin-top: -8px;
}

.search-results-info {
    margin-left: -60px;
}

.keywords-used {
    margin-left: -75px;
}

.simple-button{
    padding: 10px;
    background-color: #2a448b;
    color: white;
    font-size: 1.5em;
    width: 165px;
}

#results-table > thead{
    font-size: 0.8em;
}

.search-box > .row{
    margin: 0;
}

.border-bottom-blue{
    border-bottom: 1px solid #345b5d;
}

.options-div a{
    color: #5d6268;
}

.options-div a:hover, .options-div a:focus{
    text-decoration: none;
}

.options-div span{
    display: inline-block;
    width: 30px;
}

.email img{
    height: 20px;
}

.integrate img{
    height: 21px;
}

.export img{
    height: 23px;
}

/* tables css */
th{
    background-color: #101f47;
    color: white;
    border-bottom: none;
}

th.border-right{
    border-right: 1px solid white;
}

td.border-right{
    border-right: 1px solid #cad0e2;
}

td.border-top{
    border-top: 1px solid #cad0e2;
}
/* end of tables css */

/* alerts css */
.alert{
    border-radius: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    box-shadow: 1px 3px 5px #888888;
}

.alert-warning{
    background-color: #fbf021;
    color: black;
}

.alert-dismissable .close, .alert-dismissible .close{
    top: -20px;
}

.close{
    font-size: 60px;
    font-weight: normal;
    opacity: 1;
}

.close:hover, .close:focus{
    color: black;
    opacity: 0.7;
}
/*end of alerts css*/

/* modal css */
.modal-footer{
    padding: 10px;
}

.modal-content{
    padding: 10px 20px 20px;
}

.modal-body{
    padding: 10px 20px 10px 10px;
}

.modal{
    color: #53585f;
    font-size: 1.5em;
}

.modal-dialog {
    max-width: 450px;
}

.modal-text{
    font-weight: 300;
}

.modal-footer .text-link a{
    color: #53585f;
    font-size: 19px;
    font-weight: 300;
    vertical-align: top;
}
/* end of modal css */

/* delete modal css */
#delete-modal * * .modal-body{
    padding: 10px;
}
/* end of delete modal css */

/* email modal css */
.email::-webkit-input-placeholder {
    font-style: italic;
}

.email:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

.email::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
}

.email:-ms-input-placeholder {
    font-style: italic;
}
/* end of email modal css */

.export-btn {
    padding: 10px 37px;
    width: 105px;
}

.integrate-btn{
    height: 55px;
    width: 105px;
    padding: 3px;
    background-color: white;
}

.remove-contact-btn{
    background-color: #2a448b;
    color: white;
    font-size: 1em;
    padding: 10px;
    border-radius: 0;
}

.remove-contact-btn:hover, .remove-contact-btn:focus{
    color: white;
    opacity: 0.9;
}

.selected-keyword, .remove-all{
    text-decoration: underline;
}

.keyword:focus{
    color: #46bcfb;
    text-decoration: none;
}

.selected-keyword:focus{
    text-decoration: underline;
}

/**********************************************************************************/
@media  (max-width: 992px){
    .border-right-gray{
        border: none;
    }

    .row-height {
        display: block;
        table-layout: auto;
        height: inherit;
        width: inherit;
    }
    .col-height {
        display: block;
        float: inherit;
        height: inherit;
    }

    .keywords-used{
        text-align: center;
        padding-right: 0;
    }
}

@media screen and (max-width: 990px){
    .search-results-info, .keywords-used {
        margin-left: 0;
    }

    .export a.padding-right-30 {
        padding-right: 0;
    }

    .export{
        text-align: center;
    }

    .border-right-gray{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 990px) and (max-width: 1250px){
    .search-results-info{
        margin-left: -50px;
    }

    .keywords-used{
        margin-left: -40px;
    }
}

@media screen and (max-width: 1010px){
    .search-results-info.padding-right-50{
        padding-right: 0;
    }

    .close{
        font-size: 40px;
    }
}

@media screen and (max-width: 1112px) and (min-width: 995px){
    .search-results-options > div{
        margin-right: 15px;
    }
}

@media screen and (max-width: 600px){
    h1, h3, .search-results-info > div > p, .simple-button, .enumerate-search, .keywords-font, .keywords-list{
        font-size: 1.1em;
    }

    .link-for-action{
        font-size: 0.9em;
    }

    .simple-button{
        width: 85px;
    }

    .search-border, .info-options-div > div, .info-options-div > div > div, .search-keywords, .list-search-div{
        padding: 2px;
    }

    .display-search-div, .display-search-div > *{
        padding: 10px;
    }

    .font-size-17px{
        font-size: inherit;
    }

    .display-search-div div {
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media screen and (max-width: 340px){
    input.new-value{
        padding-right: 0;
    }

    .done-btn{
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    /* modal buttons css */
    .display-table, .display-table-row, .display-table-cell {
        display: block;
        text-align: center;
        margin-top: 5px;
    }

    .modal-footer * .width-40-percent, .modal-footer * .width-62-percent{
        width: 100%;
    }

    .padding-left-9{
        padding-left: 0;
    }
    /* end of modal buttons css */

    .delete-btn.margin-left-20{
        margin-left: 0;
    }

    .action-name{
        display: none;
    }

    .search-results-counter {
        font-size: 30px;
    }
}

/* webkit support */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 993px){
    .completed.margin-top-minus-15{
        margin-top: 45px;
    }
    .running.margin-top-20{
        margin-top: 60px;
    }
}
/* end of webkit support */
