.new-search-border{
    border: 60px solid #dcdee0;
    background-color: white;
    /*padding: 0px 10px 0px 20px;*/
}

.no-bottom-border{
    border-bottom: none !important;
}

.background-color-grey{
    background-color: rgb(220, 222, 224);
}

.li-background-color-dark-grey{
    background-color: #c5c6ca;
}

.shadow{
    /*box-shadow: -2px -2px 5px rgba(136, 136, 136, 0.35);*/
    box-shadow: -1px 3px 5px #888888;
}

.no-margin{
    margin: 0px !important;
}

.margin-right-10px{
    margin-right: 10px;
}

.margin-top-20px{
    margin-top: 20px;
}

.width-18per{
    width: 18%;
}

.text-align-center{
    text-align: center;
}

.nav>li>a {
    padding: 15px 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid rgba(221, 221, 221, 0);
}

.tab-font-style{
    color: #53585f;
    font-weight: 700;
}

.darkColor{
    color: #101f47 !important;
}

.tab-container-padding {
    padding: 18px 15px 60px 85px;
}

.tab-header-font{
    color: #101f47;
    font-weight: 700;
    font-size: 34px;
}

.font-size-1dot5em{
    font-size: 1.5em;
}

.height-70px{
    height: 70px;
}

.margin-bottom-80px{
    margin-bottom: 80px;
}

.color-white{
    color: #ffffff;
}

.select2-selection__rendered {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

button#find-leads{
    font-size: 1.4em;
    color: white;
    background: #274289;
    border-radius: 0;
    min-height: 60px;
    margin-left: -26px;
}

.text-below-title{
    color: #101f47;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 35px;
    margin-top: -10px;
}

select[name='country']{
    background: transparent;
    border: none;
}

@media screen and (max-width: 990px){
    button#find-leads{
        margin-left: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    h1, h3, p, .simple-button, .tab-header-font, .text-below-title, .scify-copyright-inner .font-size-17px{
        font-size: 1.1em;
    }

    .tab-container-padding{
        padding: 10px;
    }

    .new-search-border {
        border: 20px solid #dcdee0;
    }

    h1{
        margin-top: 0;
    }
}
