body{
    background-color: #dcdee0;
}

#logo{
    font-family: "Josefin Slab";
}

#top-bar{
    background-color: #26292e;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#side-bar{
    background-color: #101f48;
    position: fixed;
    left: -250px;
    top: 50px;
    bottom: 0;
    width: 250px;
    transition: left 2s;
}

#dropdown-label{
    background: none;
    color: white;
}

ul.dropdown-menu{
    left: auto;
    right: 0;
}

.dropdown-menu > li{
    /*padding: 5px;*/
    color: #26292e;
}

h3{
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 22px;
}

h4{
    color: white;
    padding: 15px 0;
    margin: 0;
    font-size: 22px;
    line-height: 25px;
}

#content{
    position: absolute;
    right: 0;
    top: 50px;
    left: 0;
    transition: left 2s;
    background-color: #dcdee0;
    min-height: 100%;
}

#menu{
    padding-left: 20px;
}

#menu > h6{
    color: #3ca6e4;
    padding: 30px 0 0 7px;
}

.menu-list-item:hover > div > h3{
    background-color: #46bcfb;
}

.selected-menu-item{
    background-color: #46bcfb;
    font-weight: 600;
}

.menu-list-item:hover, .menu-list-item:focus{
    text-decoration: none;
}

.menu-open #side-bar{
    left: 0;
}

.menu-open #content{
    left: 250px;
}

.glyphicon-white{
    color: white;
}

.glyphicon-menu-hamburger{
    line-height: 25px;
}

#show-menu{
    background-color: transparent;
    margin: 15px 5px 15px 0;
}

.scify-copyright-inner{
    bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: 700;
}

.dropdown a:hover, .dropdown a:focus{
    text-decoration: none;
}

/*footer css*/
#footer{
    position: absolute;
    bottom: 5px;
    right: 10px;
}

#footer > div > span > a{
    color: #53585f;
}

#footer > div > span{
    padding-right: 25px;
}
/*end of footer css*/

@media screen and (max-width: 820px){
    #side-bar > *{
        padding: 0;
    }
}

@media screen and (max-width: 700px){
    body{
        font-size: 1.1em;
    }

    #side-bar{
        left: -160px;
        width: 160px;
    }

    .menu-open #side-bar{
        left: 0;
    }

    .menu-open #content{
        left: 160px;
    }

    .search-name{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px){
    #user-name{
        display: none;
    }

    #side-bar * {
        padding: 0;
    }

    #side-bar{
        left: -90px;
        width: 90px;
    }

    .menu-open #content{
        left: 90px;
    }
}

@media screen and (max-height: 300px){
    .scify-copyright{
        display: none;
    }
}
