.modal{
    color: #2a448b;
    font-size: 1.7em;
}

.modal-body-title {
    font-weight: 600;
}

.modal-header .close{
    margin: -15px 0 -13px;
}

.close{
    opacity: 1;
    color: #0f1637;
    font-size: 60px;
    font-weight: 100;
}

.close:focus, .close:hover{
    color: #2a448b;
    opacity: 1;
}

.modal-body, .modal-header{
    padding: 0;
}

.modal-footer, .modal-header{
    border: none;
}

.modal-footer{
    padding: 10px 60px;
}

.modal-content{
    border-radius: 0;
}

.sign-in{
    background-color: #2a448b;
    border-radius: 0;
    padding: 10px 28px;
    font-size: 19px;
}

.delete-modal-btn, .cancel-modal-btn{
    color: white;
    background-color: #d45954;
    border-radius: 0;
    padding: 10px 28px;
    font-size: 19px;
    font-weight: 300;
}

.delete-modal-btn:hover, .delete-modal-btn:focus, .cancel-modal-btn:hover, .cancel-modal-btn:focus{
    background-color: #d2746f;
}

.modal-footer .text-link a{
    font-size: 0.45em;
    font-weight: 600;
    color: #101f47;
    vertical-align: bottom;
}

.login-modal-label-div{
    font-size: 0.7em;
}

/* webkit support css */
@media screen and (-webkit-min-device-pixel-ratio: 0){
    .modal-header .close{
        margin: -13px 0;
    }
}
/* end of webkit support css */
